h1 {
    text-align: center;
}

h3 {
    font-size: 16px;
}

.container {
    border: 2px solid black;
    border-radius: 5%;
}

.form-error {
    color: red;
    font-size: 20px;
}

label {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.d-grid {
    padding-bottom: 20px;
}