{% extends 'news/base_user.html' %}

{% block title %}
    Changing user data
{% endblock %}

{% block content %}

    <div class="container col-md-3 mt-3 ">
        <h1>Changing user data</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-5">
                <label for="id_username">Username:</label>
                <input type="text" name="username" value="{{ user.username }}" maxlength="150" required=""
                       id="id_username" class="form-control">
                <div class="form-error">{{ form.username.errors }}</div>
            </div>
            <div class="col-sm-5">
                <label for="id_email">Email address:</label>
                <input type="email" name="email" value="{{ user.email }}" maxlength="254" required="" id="id_email"
                       class="form-control">
            </div>
            <div class="col-sm-5">
                <label for="id_short_status">Status:</label>
                <input type="text" name="short_status" value="{{ user.short_status }}" maxlength="100"
                       id="id_short_status" class="form-control">
            </div>
            <div class="col-sm-5">
                <label for="id_first_name">First name:</label>
                <input type="text" name="first_name" value="{{ user.first_name }}" maxlength="150" id="id_first_name"
                       class="form-control">
            </div>
            <div class="col-sm-5">
                <label for="id_last_name">Last name:</label>
                <input type="text" name="last_name" value="{{ user.last_name }}" maxlength="150" id="id_last_name"
                       class="form-control">
            </div>
            <div class="col-sm-5">
                <label for="id_user_photo">User photo:</label>
                <a href="/media/users/2022/11/28/791603d9-e674-4f8c-83f2-c54f4caa6210.jfif">{{ user.user_photo.url }}</a><br>
                Change:
                <input type="file" name="user_photo" accept="image/*" id="id_user_photo">
            </div>
            <br>
            <div class="col-sm-5">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}



##########################
