{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}


{% block content %}
    <div class="col-md-9">
        {% for news in news %}
            <div class="card mb-3">
                <h5 class="card-header">Category:
                    <a href="{% url 'get_category' news.category.pk %}">{{ news.category }}</a></h5>
                <div class="card-body">
                    {% if news.photo %}
                        <img src="{{ news.photo.url }}" class="rounded float-start" width="350" alt="">
                    {% else %}
                        <img src="https://w7.pngwing.com/pngs/666/657/png-transparent-white-house-plan-food-republican-party-health-menu-blank-angle-food-rectangle.png"
                             class="rounded float-start" width="350" alt="">
                    {% endif %}
                    <h5 class="card-title text-center">{{ news.title }}</h5>
                    <p class="card-text">{{ news.content|truncatewords:145 }}</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="#" class="btn btn-primary ">Read more...</a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    {{ news.created_at|date:"Y-m-d, H:i:s" }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
