{% extends 'basic_profile.html' %}

{% block title %}
    Profile
{% endblock %}

{% block link%}
    <br><br><br><br>
    <div class="d-grid gap-2 col-15 justify-content-md-end">
        <a href="{% url 'profile_change' %}"
           class="w-100 btn btn-outline-secondary">
            Change profile data
        </a>
        <a href="{% url 'password_change' %}"
           class="w-100 btn btn-outline-secondary">
            Change password
        </a>
        <a href="{% url 'delete-account' user.pk %}"
           class="w-100 btn btn-outline-danger">
            Delete Profile
        </a>
    </div>
{% endblock %}

{% block is_authenticated %}
    <div class="btn-group">
        {% if request.user.is_authenticated and user.pk == news.user.pk %}
            <a href="{% url 'delete' news.slug %}" class="btn btn-sm btn-outline-danger">
                Delete
            </a>
            <a href="{% url 'news-update' news.slug %}" class="btn btn-sm btn-outline-success">
                Update
            </a>
        {% endif %}
    </div>
{% endblock %}