{% extends 'news/base_user.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'news/css/register.css' %}">
{% endblock %}
{% block title %}
    Registration page
{% endblock %}

{% block content %}
    <br><br><br><br><br>
    <div class="container col-md-3 mt-3">
        <h1><em>Registration:</em></h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            <label for="id_username">*Username:</label>
            <input type="text" name="username" class="form-control" maxlength="150" autofocus="" required=""
                   id="id_username">
            <div class="form-error">{{ form.username.errors }}</div>

            <label for="id_email">*Email address:</label>
            <input type="text" name="email" class="form-control" maxlength="254" id="id_email">
            <div class="form-error">{{ form.email.errors }}</div>

            <label for="id_password1">*Password:</label>
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"
                   class="form-control">
            <div class="form-error">{{ form.password1.errors }}</div>

            <label for="id_password2">*Password confirmation:</label>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"
                   class="form-control">
            <div class="form-error">{{ form.password2.errors }}</div>
            <label for="id_captcha_1">*Captcha:</label>
            <div>{{ form.captcha }}</div>
            <div class="form-error">{{ form.captcha.errors }}</div>
            <h3>* - required fields to fill in</h3>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary ">Registration</button>
            </div>
        </form>
    </div>
{% endblock %}