{% extends 'base.html' %}

{% block title %}
    News: {{ news.title }}
{% endblock %}

{% block content %}
    <div class="bg-light rounded">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center">{{ news.title }}</h5>
                {% if news.photo %}
                    <img src="{{ news.photo.url }}" width="100%">
                {% else %}
                    <img src="/media/N.png" width="100%">
                {% endif %}
                <p class="card-text">{{ news.content|linebreaks }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if request.user.is_authenticated %}
                        {% if request.user.pk == user.pk and user.pk == news.user.pk %}
                            <a href="{% url 'profile' %}" class="btn btn-sm btn-outline-secondary">
                            Published: <em>By you</em>
                        {% else %}
                            <a href="{% url 'show_profile' news.user.pk %}" class="btn btn-sm btn-outline-secondary">
                            Published: <em>{{ news.user }}</em>
                        {% endif %}
                    </a>
                    {% endif %}
                    <a href="{% url 'show_category' news.category.slug %}" class="btn btn-sm btn-outline-secondary">
                        Category: <em>{{ news.category }}</em>
                    </a>
                    {% if request.user.is_authenticated and user.pk == news.user.pk %}
                        <a href="{% url 'delete' news.slug %}" class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                        <a href="{% url 'news-update' news.slug %}" class="btn btn-sm btn-outline-success">
                            Update
                        </a>
                    {% endif %}
                </div>
                <small class="text-muted">{{ news.created_at|date:"Y-m-d, H:i:s" }}</small>
            </div>
        </div>
    </div>
{% endblock %}
