{% extends 'base.html' %}
{% load static %}

{% block title %}
    News: {{ news.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
{% endblock %}

{% block content %}
    <div class="bg-light rounded">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center">{{ news.title }}</h5>
                {% if news.photo %}
                    <img src="{{ news.photo.url }}" width="100%">
                {% else %}
                    <img src="/media/N.png" width="100%">
                {% endif %}
                <p class="card-text">{{ news.content|linebreaks }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if request.user.is_authenticated %}
                        {% if request.user.pk == user.pk and user.pk == news.user.pk %}
                            <a href="{% url 'profile' %}" class="btn btn-sm btn-outline-secondary">
                            Published: <em>By you</em>
                        {% else %}
                            <a href="{% url 'show_profile' news.user.pk %}" class="btn btn-sm btn-outline-secondary">
                            Published: <em>{{ news.user }}</em>
                        {% endif %}
                    </a>
                    {% endif %}
                    <a href="{% url 'show_category' news.category.slug %}" class="btn btn-sm btn-outline-secondary">
                        Category: <em>{{ news.category }}</em>
                    </a>
                    {% if request.user.is_authenticated and user.pk == news.user.pk %}
                        <a href="{% url 'delete' news.slug %}" class="btn btn-sm btn-outline-danger">
                            Delete
                        </a>
                        <a href="{% url 'news-update' news.slug %}" class="btn btn-sm btn-outline-success">
                            Update
                        </a>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'add_rating' %}" method="post" name="rating">
                        <b>Your rating:</b>
                        {% csrf_token %}
                        <input type="hidden" value="{{ news.id }}" name="news">
                        <span class="rating">
                            {% for key, value in star_form.fields.star.choices %}
{#                                <input id="rating{{ value }}" type="radio" name="star" value="{{ value }}">#}

                                <label for="rating{{ value }}">{{ key }}</label>

                            {% endfor %}
                        </span>
                        {% if news.user.rating_set.get.star_id %}
                            {{ news.user.rating_set.get.star_id }}
                        {% else %}
                            No rating
                        {% endif %}
                    </form>
                {% endif %}
                <small class="text-muted">{{ news.created_at|date:"Y-m-d, H:i:s" }}</small>
            </div>
        </div>
    </div>
    <script>
        const rating = document.querySelector('form[name=rating]');

        rating.addEventListener("change", function (e) {
            let data = new FormData(this);
            fetch(`${this.action}`, {
                method: 'POST',
                body: data
            })
                .then(response => alert("The rating is set"))
                .catch(error => alert("Mistake"))
        });
    </script>
{% endblock %}
