{% extends 'base.html' %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-6 shadow">
                <div class="card-title text-center">
                    <h2>
                        <b>
                            {{ news.title }}
                        </b>
                    </h2>
                </div>
                <div class="modal-header border-bottom-0">
                    <label for="photo"><b>New photo for news:</b></label>
                    <input type="file" name="photo" accept="image/*" id="id_photo">
                </div>
                <div class="modal-body py-0">
                    <label for="content"><b>Content:</b></label>
                    <textarea name="content" cols="60" rows="15" required=""
                              id="id_content" class="form-control">{{ news.content }}</textarea>
                </div>
                <div class="modal-footer flex-nowrap">
                    <button type="button" class="w-50 btn btn-sm-secondary">
                        <a href="{% url 'show_news' news.slug %}" class="w-100 btn btn-secondary">
                            Cancel
                        </a>
                    </button>
                    <input type="submit" value="Update" class=" w-50 btn btn btn-success"
                           data-bs-dismiss="modal">
                </div>
            </div>
        </div>

    </form>
{% endblock %}
