{% load categories_teg %}

<nav class="navbar-center bg-dark fixed-top">
    <header class="site-header sticky-top py-1">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'index' %}" class="nav-link px-4 link-white">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'add_news' %}" class="nav-link px-4 link-white">Add news</a></li>
                <li>
                    <img src="{{ request.user.user_photo.url }}" alt="мдо" width="32" height="32"
                         class="rounded-circle"></li>
                <li><a href="{% url 'profile' %}" class="nav-link px-4 link-white">{{ request.user.username }}</a></li>
                <a href="{% url 'logout' %}" class="btn btn-primary">
                    Logout
                </a>
            {% else %}
                <li>
                    <a href="{% url 'register' %}" class="btn btn-outline-primary me-2">
                        Register
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        log in
                    </a>
                </li>
            {% endif %}
        {% get_categories %}
          </ul>
    </header>
</nav>

